@model ML.ClienteMedicamento
@{
    ViewBag.Title = "ResumenCompra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resumen de Compra</h2>

<div style="float:right;">
    @Html.ActionLink("Agregar + medicamentos", "GetAll", "ClienteMedicamento", htmlAttributes: new { @class = "btn btn-success" })
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Cliente.IdCliente, new { @class = "hidden" })
                @Html.TextBoxFor(model => model.Cliente.IdCliente, new { @class = "hidden form-control" })
                @Html.ValidationMessageFor(model => model.Cliente.IdCliente)
            </div>
            <p>Compra de: </p>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Cliente.Nombre)
                @Html.TextBoxFor(model => model.Cliente.Nombre, new { @class = "form-control", @id = "txtNombre", disabled = "true" })
                @Html.ValidationMessageFor(model => model.Cliente.Nombre, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Cliente.ApellidoPaterno)
                @Html.TextBoxFor(model => model.Cliente.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno", disabled = "true" })
                @Html.ValidationMessageFor(model => model.Cliente.ApellidoPaterno, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Cliente.ApellidoMaterno)
                @Html.TextBoxFor(model => model.Cliente.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno", disabled = "true" })
                @Html.ValidationMessageFor(model => model.Cliente.ApellidoMaterno, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-responsive">
            <thead class="thead-dark">
                <tr>
                    <td>Nombre de Medicamento</td>
                    <td class="hidden">IdSKUMedicamento</td>
                    <td class="hidden">IdCliente</td>
                    <td>Cantidad</td>
                    <td>Precio</td>
                    <td>Eliminar</td>
                </tr>

            </thead>
            <tbody>
                @foreach (ML.ClienteMedicamento clienteMedicamento in Model.ClientesMedicamentos)
                {
                    <tr>
                        <td>@clienteMedicamento.Medicamento.Nombre</td>
                        <td class="hidden">@clienteMedicamento.Medicamento.IdSKUMedicamento</td>
                        <td class="hidden">@clienteMedicamento.Cliente.IdCliente</td>
                        <td>1</td>
                        <td>@clienteMedicamento.Medicamento.Precio</td>
                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger glyphicon glyphicon-remove" href="@Url.Action("MedicamentosDelete", "Pedidos", new { IdClienteMedicamento= clienteMedicamento.IdClienteMedicamento})" onclick="return confirm('¿Estas seguro que deseas eliminar este medicamento?');"><i class="bi bi-trash3-fill"></i></a></td>
                    </tr>
                }
                <tr>
                    <td style="text-align:center;">Total</td>
                    <td>@Model.Medicamento.ConteoTotal</td>
                    <td>@Model.Medicamento.TotalAPagar</td>
                </tr>
            </tbody>

        </table>

    </div>
</div>



